.profile__info {
  margin: auto 0;
  display: grid;
  gap: 7px 18px;
  grid-template-columns: 1fr min-content;
  align-items: baseline;
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .profile__info {
    text-align: center;
    gap: 7px 10px;
    margin-right: 0;
  }
}
