.popup__saveButton {
  height: 50px;
  width: 100%;
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.popup__saveButton:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__saveButton {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
