.auth-wrapper {
  box-sizing: border-box;
  height: calc(100vh - 119px);
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 14px;
  line-height: 17px;
}
